.animation {
  animation: smoothfade both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes smoothfade {
  from {
    opacity: 0.5;
    filter: blur(7.5px);
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

.animation-footer {
  animation: footer both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes footer {
  from {
    opacity: 0.5;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
