.animation {
  animation: smoothfade both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
@keyframes smoothfade {
  from {
    opacity: 0.5;
    filter: blur(3px);
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}
