.markdown-body {
  padding: 10px 0;
}

.markdown-body h1 {
  font-family: "Minecraft Ten";
  font-size: 40px;
  font-weight: 100;
  color: #333;
  margin-top: 25px;
  margin-bottom: 10px;
}

.markdown-body h2 {
  font-family: "Minecraft Ten";
  font-size: 32px;
  font-weight: 100;
  color: #333;
  margin-top: 25px;
  margin-bottom: 10px;
}

.markdown-body h3,
.markdown-body h4 {
  font-family: "Minecraft Ten";
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #333;
}

.markdown-body ul {
  padding-left: 25px;
  margin-bottom: 15px;
  list-style-type: "» ";
}

.markdown-body li {
  font-family: "Minecraft Five";
  font-size: 18px;
  line-height: 1.5;
  color: #444;
  margin-bottom: 4px;
}

.markdown-body hr {
  border: none;
  border-top: 2px solid #ddd;
  margin: 25px 0;
}
